<div class="docs-example-viewer-body">
<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table class="mat-table-class" mat-table [dataSource]="dataSource" matSort>

 <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th class="table-width-td-th" mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td class="table-width-td-th" mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="action">
      <th colspan="2" class="table-width-td-th"  mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td class="table-width-td-th"  mat-cell *matCellDef="let row">
         <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>edit</mat-icon></button>{{row.id}}
         <button mat-fab color="warn" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>

    <tr class="table-width-td-th"  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="table-width-td-th"  mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="table-width-td-th"  class="mat-row" *matNoDataRow>
      <td class="table-width-td-th"  class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
</div>
