<div *ngIf="!userIsAuthenticated">
<mat-toolbar class="main-topbar">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" class="top-bar container" >
          <span fxHide="false" fxHide.gt-sm   >
              <button mat-icon-button >
                  <mat-icon>menu</mat-icon>
              </button>
           </span>
        <div fxLayout="row" class="welcome-message">

        </div>
        <div class="widgets-left" fxLayout="row">

          <div class="widget-text">
            <a fxShow="false" fxShow.gt-xs [routerLink]="['/wishlist']" routerLinkActive="router-link-active" ><mat-icon class="mat-icon-lg mat-icon material-icons mr-10">favorite_border</mat-icon> WISHLIST</a>
          </div>
          <div class="widget-text">
              <a fxShow="false" fxShow.gt-xs   class="snipcart-customer-signin"><mat-icon>person</mat-icon>My Account</a>
            </div>
        </div>




  </mat-toolbar-row>

</mat-toolbar>


<div class="home-header-three">
  <div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px" fxlayoutalign="space-between center">
    <div class="logo" style="padding: 0px;">
        <a [routerLink]="['/']" routerLinkActive="router-link-active" ><img width="100px" src="assets/images/PosteLogo.jpg"></a>
    </div>
    <div fxflexoffset.gt-sm="10"  fxFlex class="search-form">
        <form class="search-form" fxLayout="row">
          <div class="form-wrap">
             <input type="text" placeholder="Type to search...">
             <button class="btn-search" type="submit">Search</button>
          </div>
        </form>
       </div>
    <div class="call-bucket-wrap" fxLayout="row" fxLayout.sm="row" fxLayoutAlign="center center" >
        <!-- <div class="info-message-icon"  fxLayout="row" fxLayoutAlign="center center">
          <div class="icon"  fxLayout="row" >
              <mat-icon class="mat-icon-lg mat-icon material-icons">call</mat-icon>
          </div>
            <div class="info-text">
              <p>Helpline:</p>
               <span>02(981)336 111</span>
            </div>
        </div> -->
        <div class="main-menu-wrapper-3" fxLayout="row" fxLayoutAlign="space-between center" >
            <mat-toolbar class="top-navbar top menu">
              <div class="commerce-buttons" fxLayout="row" fxLayoutAlign="end center">

                <button mat-button class="flex-row-button mat-button snipcart-checkout" fxLayoutAlign="space-between center" >
                  <div class="mat-button-wrapper">
                      <div class="" >
                          <mat-icon class="mat-icon-lg mat-icon material-icons">local_grocery_store</mat-icon>
                          <span class="cart-count-wrapper snipcart-items-count">0</span>
                        </div>
                        <div class="top-cart">
                            <span class="snipcart-total-price">TND 0.00</span>
                        </div>
                  </div>
                </button>

              </div>
            </mat-toolbar>
          </div>
      </div>

  </div>
</div>
<div class="menu-container4">
  <mat-toolbar-row fxHide fxShow.gt-sm class="container" fxLayout="row"  fxLayout.xs="row" fxLayoutAlign="space-between center">
    <div class="main-menu" fxLayout="row" fxHide fxShow.gt-sm>
        <a  mat-button class="mat-button" [routerLink]="['/']" routerLinkActive="router-link-active">Home<!--<mat-icon class="caret">arrow_drop_down</mat-icon>--></a>
        <mat-menu  class="app-dropdown">
          <a mat-menu-item [routerLink]="['/home/one']" routerLinkActive="router-link-active" >Home-1</a>
          <a mat-menu-item [routerLink]="['/home/two']" routerLinkActive="router-link-active">Home-2</a>
          <a mat-menu-item [routerLink]="['/home/three']" routerLinkActive="router-link-active">Home-3</a>
          <a mat-menu-item [routerLink]="['/home/four']" routerLinkActive="router-link-active">Home-4</a>
          <a mat-menu-item [routerLink]="['/home/five']" routerLinkActive="router-link-active">Home-5</a>
      </mat-menu>
        <a [routerLink]="['/product']" routerLinkActive="router-link-active"  mat-button class="mat-button">Products</a>


        <a  mat-button mat-button  class="mat-button">Blog<mat-icon class="caret">arrow_drop_down</mat-icon></a>
        <mat-menu  class="app-dropdown">
            <a mat-menu-item [routerLink]="['/blog/blog-list']">Blog List</a>
            <a mat-menu-item [routerLink]="['/blog/blog-column']">Blog Columns</a>
            <a mat-menu-item [routerLink]="['/blog/blog-details']">Blog Details</a>

        </mat-menu>
        <a  mat-button  class="mat-button">Pages<mat-icon class="caret">arrow_drop_down</mat-icon></a>
        <mat-menu class="app-dropdown">
          <a [routerLink]="['/pages/about']" mat-menu-item>About Us</a>
          <a mat-menu-item [routerLink]="['/pages/faq']" >FAQ</a>
          <a mat-menu-item [routerLink]="['/pages/contact']">Contact</a>
          <a mat-menu-item [routerLink]="['/pages/wishlist']">Wishlist</a>
          <a mat-menu-item [routerLink]="['/pages/compare']">Compare</a>
          <a mat-menu-item [routerLink]="['/pages/checkout']">Checkout</a>
          <a mat-menu-item [routerLink]="['/pages/cart']">Cart</a>
          <a mat-menu-item [routerLink]="['/pages/my-account']">My Account</a>
          <a mat-menu-item [routerLink]="['/pages/error']">404</a>
      </mat-menu>
        <a [routerLink]="['/pages/contact']" routerLinkActive="router-link-active"   mat-button class="mat-button">Contact</a>
      </div>
      <!-- <app-shopping-widgets *ngIf="url == '/home/one'" [shoppingCartItems]="shoppingCartItems"></app-shopping-widgets> -->
      <!-- <div class="main-menu-wrapper" fxLayout="row" fxLayoutAlign="space-between center" >

          <div class="commerce-buttons" fxLayout="row" fxLayoutAlign="end center">

            <button mat-button class="flex-row-button mat-button" fxLayoutAlign="space-between center" [matMenuTriggerFor]="menu">
              <div class="mat-button-wrapper">
                  <div class="" >
                      <mat-icon class="mat-icon-lg mat-icon material-icons">local_grocery_store</mat-icon>
                      <span class="cart-count-wrapper">{{shoppingCartItems.length}}</span>
                    </div>
                    <div class="top-cart">
                        <span>{{ getTotal() | async | currency:productsService?.currency:'symbol'}}</span>
                    </div>
              </div>
            </button>
            <mat-menu #menu="matMenu">
              <div class="spCard-dropdown">
                <div class="card-list-title" fxLayout="row" fxLayoutAlign="space-between start">
                   <a [routerLink]="['/cart']" routerLinkActive="router-link-active" ><p>CHECK CARD</p></a>
                    <p>{{shoppingCartItems.length}} ITEM</p>
                </div>
                    <mat-divider></mat-divider>
                    <p class="woo-message" *ngIf="!shoppingCartItems.length">Please add product<p>

                    <div class="new-product" fxLayout="column" *ngIf="shoppingCartItems.length">
                      <div class="item" fxLayout="row" fxLayoutAlign="start start" *ngFor="let item of shoppingCartItems">
                          <div class="product">
                              <img [src]="item.product.pictures" alt="">
                             </div>
                            <div class="desc">
                              <p>{{item.product.name}}</p>
                              <span>{{item.quantity}} X {{item.product.price}}</span>
                             </div>
                             <div class="close-circle">
                                <a (click)="removeItem(item)"><i class="material-icons">
                                    delete
                                    </i></a>
                              </div>
                      </div>
                      <mat-divider></mat-divider>
                      <div class="total" fxLayout="row" fxLayoutAlign="space-between center">
                          <p class="text-muted">Subtotal: </p>
                          <span>{{ getTotal() | async | currency:productsService?.currency:'symbol' }}</span>
                        </div>
                    </div>
              </div>
         </mat-menu>
          </div>

        </div> -->
  </mat-toolbar-row>


</div>
</div>

<div *ngIf="userIsAuthenticated">

  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" ><img width="100px" src="assets/images/PosteLogo.jpg" alt=""></a>

    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" routerLink="/admin/product" routerLinkActive="mat-accent" >Products</a>
      </li>
    </ul>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" routerLink="/admin/category" routerLinkActive="mat-accent" >Categories</a>
      </li>
    </ul>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#" (click)="onLogout()" >Sign out</a>
      </li>
    </ul>
  </nav>
</div>



