<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My App</span>
    <span class="spacer"></span>
    <ul>
      <li>
    <a class="snipcart-checkout" mat-button aria-label="icon-button with shopping_cart icon">
      <mat-icon>shopping_cart</mat-icon>
      <span class="snipcart-total-price">TND0.00</span>
      (<span class="snipcart-items-count"></span>)
    </a>
     </li>
    <li>
    <a mat-button aria-label="icon-button with favorite icon">
      <mat-icon>favorite</mat-icon>
      WishList
    </a>
      </li>
    <li>
    <a class="snipcart-customer-signin" mat-button aria-label="icon-button with person icon" >
      <mat-icon>person</mat-icon>
      Sign Up
    </a>
      </li>
  </ul>
  </mat-toolbar-row>

</mat-toolbar>

<mat-toolbar>
<mat-toolbar-row>
  <span>Second Line</span>
  <span class="spacer"></span>


</mat-toolbar-row>
</mat-toolbar>
